# Intellij
*.iml
.idea

# npm
node_modules

# nunjucks file
main.js.LICENSE.txt

# eslint
.eslintcache

# obsidian plugin files
main.js
main.js.map
data.json

coverage
dist
tsconfig.tsbuildinfo
.env

# Mac
.DS_Store
