# {{title}}

* Author: [[{{author}}]]
* ASIN: [[{{asin}}]]
* Reference: {{url}}
* [Kindle link]({{appLink}})

{% for highlight in highlights %}
  - > {{highlight.text}} (location: {{highlight.location}})
{% endfor %}
